.beanifesto-case__main {
  background-color: var(--main-light);
  height: 100vh;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.beanifesto-case__h1 {
  font-weight: var(--regular);
  font-size: 1.6rem;
  color: var(--main-dark);
  width: 40rem;
  line-height: 130%;
  text-align: center;
  margin-top: 0;
}

.beanifesto-case__mockups {
  max-width: 50%;
}

.beanifesto-case-name__image {
  max-width: 28%;
}

.beanifesto-case__btn {
  background-color: var(--case2-green);
  width: 17rem;
  height: 3rem;
  padding: 0.9375rem 3.125rem;
  gap: 1rem;
  border: none;
  color: var(--main-light);
  margin-top: 1rem;
}

.beanifesto-case__intro {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

.beans__image {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.beanifesto-case__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.beanifesto-case__column {
  display: flex;
  flex-direction: column;
  width: 35.3125rem;
}

.beanifesto-process__image {
  width: 60%;
  height: auto;
  margin: 3rem auto;
  display: block;
}

.beanifesto-case__h3 {
  font-weight: var(--semi-bold);
  font-size: var(--heading3);
  color: var(--main-dark);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
