.beanifesto-case__main {
  background-color: var(--main-light);
  height: 100vh;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.beanifesto-case__mockups {
  max-width: 65%;
}

.beanifesto-case-name__img {
  max-width: 35%;
}

.beanifesto-case__btn {
  background-color: var(--case2-green);
}

.beanifesto-case__btn:hover {
  background-color: #00574e;
}

.beanifesto-cases__column li {
  font-weight: var(--regular);
  font-size: var(--body);
  color: var(--main-dark);
  margin-bottom: 1.5rem;
  line-height: 150%;
}

.beanifesto-case__columns1 {
  display: grid;
  justify-content: space-between;
  gap: 14rem;
  grid-template-columns: 26rem 1fr;
  margin-top: 1.5rem;
}

.cases__sections--last {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
