.beanifesto-case__main {
  background-color: var(--main-light);
  height: 100vh;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.beanifesto-case__h1 {
  font-weight: var(--regular);
  font-size: 1.6rem;
  color: var(--main-dark);
  width: 40rem;
  line-height: 130%;
  text-align: center;
  margin-top: 0;
}

.beanifesto-case__mockups {
  max-width: 65%;
}

.beanifesto-case-name__image {
  max-width: 35%;
}

.beanifesto-case__btn {
  background-color: var(--case2-green);
}

.beanifesto-case__sections {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.beanifesto__img1 {
  display: flex;
  height: auto;
  margin-top: 3rem;
}

.beanifesto__img1--margin {
  display: flex;
  height: auto;
  margin-top: 3rem;
  margin-bottom: -1.5rem;
}

.beanifesto-case__columns {
  display: grid;
  justify-content: space-between;
  gap: 24rem;
  grid-template-columns: 26rem 1fr;
}

.beanifesto-case__column {
  display: flex;
  flex-direction: column;
  width: 35.3125rem;
}

.beanifesto__img2 {
  width: 60%;
  height: auto;
  margin: 3rem auto;
  display: block;
}

.beanifesto-case__column li {
  font-weight: var(--regular);
  font-size: var(--body);
  color: var(--main-dark);
  margin-bottom: 1.5rem;
  line-height: 150%;
}

.beanifesto-case__columns1 {
  display: grid;
  justify-content: space-between;
  gap: 14rem;
  grid-template-columns: 26rem 1fr;
  margin-top: 1.5rem;
}

.beanifesto__img3 {
  width: 60%;
  height: auto;
  display: block;
}

.beanifesto__video {
  width: 40%;
  height: auto;
  margin-top: 1.5rem;
  border-radius: 2rem;
}

.beanifesto-case__sections--last {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
