.mind-me-case {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 5rem;
}

.mind-me-case__title {
  font-family: "Trap";
  font-size: 5rem;
  text-decoration: underline;
  color: var(--case1-green);
  margin-bottom: 2rem;
}

.mind-me-case__description {
  margin-bottom: 2rem;
}

.mind-me-case__img {
  width: 20rem;
}

.mind-me-case__btn {
  font-weight: var(--bold);
  width: 21.4375rem;
}

.mind-me-case__btn:hover {
  background-color: #324336;
}

.cases__sections--margin {
  margin-top: 0;
}

.cases__h4--margin {
  margin-bottom: 0;
}
