.custom-btn {
  display: flex;
  padding: 0.7rem 2.5rem;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  border-radius: 0.8rem;
  font-size: var(--body);
  font-weight: var(--black);
  text-decoration: none;
  box-shadow: var(--cta-shadow);
  width: 12rem;
  height: 3rem;
  border: 0;
  cursor: pointer;
}

.custom-btn:active {
  background-color: #1f1f1f;
}

.custom-btn.secondary:active {
  background-color: #b5e6eb;
}

.custom-btn.primary {
  color: var(--main-light);
  background: var(--main-dark);
}

.custom-btn.secondary {
  color: var(--main-dark);
  background-color: var(--secondary-green);
}

.custom-btn.case1-green {
  color: var(--main-light);
  background-color: var(--case1-green);
  font-weight: var(--black);
}

.custom-btn.cases__btn {
  width: 17rem;
  height: 3rem;
  padding: 0.9375rem 3.125rem;
  color: var(--main-light);
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .custom-btn:hover {
    background-color: #555555;
  }

  .custom-btn.secondary:hover {
    background-color: #b5e6eb;
  }
}
