.i-travel__tags {
    font-weight: var(--bold);
}

.i-travel__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.i-travel__description {
    margin-bottom: 15px;
}

.i-travel__tags {
    font-weight: var(--bold);
    margin-bottom: 3.125rem;
}

.i-travel {
    height: 70vh;
}

