.beanifesto__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.beanifesto__description {
  margin-bottom: 15px;
}

.beanifesto__tags {
  font-weight: var(--bold);
  margin-bottom: 2.5rem;
}

/* Styles for mobile devices */
@media (max-width: 430px) {
  .beanifesto__left {
    width: 100%;
    justify-content: flex-start;
  }

  .beanifesto__title {
    font-size: 1.5rem;
  }

  .beanifesto__subtitle {
    font-size: 1.125rem;
    color: #707070;
  }

  .beanifesto__tags {
    font-size: 0.875rem;
  }

  .beanifesto__description {
    font-size: 0.875rem;
  }

  .custom-btn.secondary {
    display: none;
  }

  .b-image-cases {
    flex-direction: column-reverse;
  }
}
