.landing-page {
  position: relative;
  background-image: url("../../assets/bg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
}

.landing-page h3 {
  color: var(--main-dark);
  font-size: var(--heading3);
  font-weight: var(--light);
  width: 48.125rem;
  z-index: 2;
}

.landing-page h4 {
  color: var(--main-dark);
  font-size: var(--heading4);
  font-weight: var(--black);
  width: 48.125rem;
  z-index: 2;
  margin-top: 7rem;
}

.landing-page__strong {
  font-weight: var(--semibold);
}

.h4-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.next-to-h4 {
  margin-left: 1.5rem;
}
