<div>
  <div class="container">
    <div class="image-container">
      <img src="assets/me.jpg" alt="portrait of Anastasiia Kiias" />
    </div>
    <div class="text-container">
      <h3>Hey there!</h3>
      <p>
        I’m Anastasiia,
        <strong>a UX/UI designer living in Berlin</strong>. My journey into
        design began with a unique twist — I used to be a flight attendant!
        Through my travels and interactions, I discovered a love for
        understanding people’s needs and making their experiences better.
      </p>
      <p>
        I believe in the power of
        <strong>simplicity and practicality</strong>, and I’m passionate about
        blending these elements to create designs that are both
        <strong>user-focused and visually appealing</strong>. I also believe
        that good design should be <strong>accessible to everyone</strong>,
        no matter their background or preferences.
      </p>
      <p>
        I am all about finding inspiration in everyday life, whether
        it’s through new experiences, trying different cuisines, exploring new
        destinations or simply getting lost in the city streets. I’m excited
        to be a part of the ever-evolving design world and to bring my unique
        perspective to <strong>creating meaningful digital experiences</strong>.
      </p>
    </div>
  </div>
</div>
