.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #333333;
  padding: 40px 55px;
}
.navbar a {
  color: #333333;
  text-decoration: none;
  margin: 0 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
.navbar {
  font-family: "Mulish", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap");
.navbar .right a {
  font-weight: 900;
}
.navbar .middle a {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  text-transform: uppercase;
  margin: 0 40px;
}
.navbar .right a {
  display: flex;
  padding: 12px 50px;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: var(--other-cta-main, #333);
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
  box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.2);
}
.navbar .logo a img {
  width: 140px;
  height: 40px;
  object-fit: fill;
}
