.mind-me__tags {
  font-weight: var(--bold);
  margin-bottom: 2.5rem;
}

.mind-me__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.mind-me__description {
  margin-bottom: 15px;
}

/* Styles for mobile devices */
@media (max-width: 430px) {
  .mind-me__left {
    width: 100%;
    justify-content: flex-start;
  }

  .mind-me__title {
    font-size: 1.625rem;
  }

  .mind-me__subtitle {
    font-size: 1.25rem;
    color: #707070;
  }

  .mind-me__tags {
    font-size: 1rem;
  }

  .mind-me__description {
    font-size: 1rem;
  }

  .custom-btn.secondary {
    display: none;
  }
}
