.beanfesto__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.beanfesto img {
    width: 25.3125rem;
}

.beanfesto__description {
    margin-bottom: 15px;
}

.beanfesto__tags {
    font-weight: var(--bold);
}
