body {
  font-family: "Mulish", sans-serif;
}

.primary-btn {
  color: var(--main-light) !important;
  display: flex;
  padding: 0.7rem 2.5rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.8rem;
  background: var(--main-dark);
  font-size: var(--body);
  font-weight: var(--black);
  text-decoration: none;
  box-shadow: var(--cta-shadow);
}

.regular-text {
  font-size: var(--body);
  font-weight: var(--regular);
  color: var(--main-dark);
  line-height: 150%;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0.9375rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Mulish", sans-serif;
  margin-top: 2rem;
  margin-bottom: 0;
  color: var(--main-dark);
  line-height: 130%;
}

p {
  font-family: "Mulish", sans-serif;
  font-size: var(--body);
  font-weight: var(--regular);
  color: var(--main-dark);
  line-height: 150%;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0.9375rem;
}

.main-title {
  color: var(--main-green);
  font-weight: var(--black);
  font-size: var(--heading1);
}

.subtitle {
  color: var(--main-dark);
  font-weight: var(--bold);
  font-size: var(--heading2);
  margin-bottom: 1rem;
}

.xl {
  max-width: 1200px;
  margin: auto;
}

.cases__h4 {
  font-weight: var(--bold);
  font-size: var(--heading4);
  color: var(--main-dark);
  margin-bottom: 1.5rem;
}
