body {
  font-family: "Mulish", sans-serif;
}

.primary-btn {
  color: var(--main-light) !important;
  display: flex;
  padding: 0.7rem 2.5rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.8rem;
  background: var(--main-dark);
  font-size: var(--body);
  font-weight: var(--black);
  text-decoration: none;
  box-shadow: var(--cta-shadow);
}

.regular-text {
  font-size: var(--body);
  font-weight: var(--regular);
  color: var(--main-dark);
  line-height: 150%;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0.9375rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Mulish", sans-serif;
  margin-top: 2rem;
  margin-bottom: 0;
  color: var(--main-dark);
  line-height: 130%;
}

p,
ul,
ol {
  font-family: "Mulish", sans-serif;
  font-size: var(--body);
  font-weight: var(--regular);
  color: var(--main-dark);
  line-height: 150%;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0.9375rem;
}

.main-title {
  color: var(--main-green);
  font-weight: var(--black);
  font-size: var(--heading1);
  margin-top: -1rem;
}

.subtitle {
  color: var(--main-dark);
  font-weight: var(--bold);
  font-size: var(--heading3);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.xl {
  max-width: 1200px;
  margin: auto;
}

.cases__h4 {
  font-weight: var(--bold);
  font-size: var(--heading4);
  color: var(--main-dark);
  margin-bottom: 1.5rem;
}

.back-to-top {
  font-weight: var(--black);
  font-size: var(--heading4);
  color: var(--main-dark);
  margin-bottom: 2rem;
  line-height: 150%;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.arrow1 {
  margin-top: 2rem;
}

.cases__sections {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.cases__columns {
  display: grid;
  justify-content: space-between;
  gap: 24rem;
  grid-template-columns: 26rem 1fr;
}

.cases__column {
  display: flex;
  flex-direction: column;
  width: 35.3125rem;
}

.title__description {
  font-weight: var(--light);
  font-size: 1.6rem;
  color: var(--main-dark);
  width: 45rem;
  line-height: 150%;
  text-align: center;
  margin-top: 0.5rem;
}

.cases__img1--margin {
  display: flex;
  margin-top: 3rem;
  margin-bottom: -1.5rem;
}

.cases__img2--margin {
  width: 60%;
  margin: 3rem auto;
  margin-bottom: 4rem;
  display: block;
}

.cases__img1 {
  display: flex;
  margin-top: 1.5rem;
}

.cases__img2 {
  width: 60%;
  display: block;
}

.cases__video {
  width: 40%;
  height: auto;
  margin-top: 1.5rem;
  border-radius: 2rem;
}

*:focus {
  outline-color: var(--main-green);
}
