.primary-btn {
  color: var(--main-light) !important;
  display: flex;
  padding: 0.7rem 2.5rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.8rem;
  background: var(--main-dark);
  font-family: "Mulish", sans-serif;
  font-size: var(--body);
  font-weight: var(--semibold);
  text-decoration: none;
  box-shadow: var(--cta-shadow);
}

.regular-text {
  font-size: var(--body);
  font-weight: var(--regular);
  color: var(--main-dark);
  line-height: 150%;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0.9375rem;
}
