:root {
  --main-dark: #333;
  --main-light: #fff;
  --main-green: #246b69;
  --secondary-green: #a8dadc;
  --main-grey: #a29f9f;
  --inputfield-grey: #f5f5f5;
  --case1-green: #43564a;
  --case1-orange: #ffa500;
  --case2-green: #00796b;
  --case2-brown: #64462c;
  --case2-bg: #f5f5f5;
  --case2-text: #444444;
  --case3-green: #246b69;

  /* Typography */
  --heading1: 3rem;
  --heading2: 2.5rem;
  --heading3: 2rem;
  --heading4: 1.5rem;
  --body: 1.25rem;
  --subtitle: 1rem;

  /* shadow */
  --cta-shadow: 0.375rem 0.25rem 1.25rem 0rem rgba(0, 0, 0, 0.2);
  --main-shadow: 0.9375rem 0.375rem 1.875rem 0rem rgba(0, 0, 0, 0.25);

  /* font weight */
  --light: 300;
  --regular: 400;
  --semibold: 600;
  --bold: 700;
  --black: 900;
}
