:root {
  --main-dark: #333;
  --main-light: #fff;
  --main-green: #246b69;
  --secondary-green: #a8dadc;
  --main-grey: #a0a0a0;
  --inputfield-grey: #f5f5f5;
  --case1-green: #43564a;
  --case1-orange: #ffa500;
  --case2-green: #00796b;
  --case2-brown: #64462c;
  --case2-bg: #f5f5f5;
  --case2-text: #444444;
  --case3-green: #246b69;

  /* Typography */

  /* shadow */
}
