<div>
  <div class="container">
    <div class="image-container">
      <img src="assets/me.jpg" alt="portrait of Anastasiia Kiias" />
    </div>
    <div class="text-container">
      <h3>Hey there!</h3>
      <p class="regular-text">
        I'm Anastasiia,
        <strong>a UX/UI designer living in Berlin</strong>. My journey into
        design began with a twist — I used to be a flight attendant! Through my
        travels and interactions, I discovered a love for understanding people's
        needs and making their experiences better.
      </p>
      <p class="regular-text">
        I believe in the power of
        <strong>simplicity and practicality</strong>, and I'm passionate about
        blending these elements tocreate designs that are both
        <strong>user-focused and visually appealing</strong>. I also believe
        that good design should be <strong>accessible to everyone</strong>, no
        matter their background or preferences.
      </p>
      <p class="regular-text">
        I like to find inspiration in everyday life, whether it's through new
        experiences, trying different cuisines or exploring new destinations.
        I'm excited to be a part of the ever-evolving design world and to bring
        my unique perspective to
        <strong>creating meaningful digital experiences</strong>.
      </p>
    </div>
  </div>
</div>
