# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js

on:
  release:
    types: [created]
  push:
    branches:
      - main

jobs:
  nk-ci-cd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/setup-node@v3
        with:
          node-version: "21.x"
      - run: npm ci
      - run: npm run build
      - name: Commit and push changes
        env:
          GIT_AUTHOR_NAME: MikjailS
          GIT_AUTHOR_EMAIL: mikjailsalazar@gmail.com
          GIT_COMMITTER_NAME: MikjailS
          GIT_COMMITTER_EMAIL: mikjailsalazar@gmail.com
        run: |
          git config --global user.name 'MikjailS'
          git config --global user.email 'mikjailsalazar@gmail.com'
          git add -A
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "feat: Deploy new changes into docs"
            git push https://${{ github.actor }}:${{ secrets.GH_TOKEN }}@github.com/${{ github.repository }}.git
          fi
